<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# DataScienceEcosystem.ipynb

### Introduction

**Objectives:**

List popular languages for Data Science

1. Python
2. R
3. SQL
4. Scala
5. Julia

### Data Science Languages
- Python 
- R
- SQL
- Scala
- Java
- C++
- Julia

**Some of the commonly used libraries used by Data Scientists include:**


- scipy
- Numpy
- Keras
- PyTorch
- Pandas

**Data Science Tools**

- Talend
- IBM Datacap
- Mozenda
- OnBase
- Microsoft Azure
- MySQL
- Snowflake

 **Below are a few examples of evaluating arithmetic expressions in Python**

In [20]:
(2*2)

4

In [21]:
(3*4)+3

15

In [22]:
(4+4)/2

4.0

**This a simple arithmetic expression to mutiply then add integers.**

In [23]:
(3*4)+5

17

**code cell to convert minutes to hours**

This will convert 200 minutes to hours by diving by 60.

In [24]:
200/60

3.3333333333333335

**markdown cell to indicate the Author's name**

## Author-
Shreekumar santosh  sid